{% extends 'base/base.html' %}

{% block title %}
LIST TEAMS
{% endblock title %}

{% block content %}

<style>

    body{
        font-size: 20px;
    }
    .sucess{
        margin: 100px;
    }
    h1{
        text-align: center;
    }
</style>

<div class="sucess">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'core:add_tm' %}" class="btn btn-success">Add Team</a>
    </div>
   
</div>
<h1>List of Teams in the NFL</h1>
<br>
<hr>
<br>
<div class="table-responsive py-2">
  <table class="table table-striped">
    <thead>
        <th></th>
        <th>#</th>
        <th></th>
        <th>NAME</th>
        <th></th>
        <th>CITY</th>
        <th></th>
        <th>STADIUM</th>
        <th></th>
        <th>DESCRIPTION</th>
        <th></th>
        <th>STATUS</th>
        <th></th>
        <th>OPTIONS</th>

    </thead>
    <tbody>
        {% for t in teams %}
            <tr>
                <td></td>
                <td>{{ t.id }}</td>
                <td></td>
                <td>{{ t.team_name }}</td>
                <td></td>
                <td>{{ t.city }}</td>
                <td></td>
                <td>{{ t.stadium }}</td>
                <td></td>
                <td>{{ t.description }}</td>
                <td></td>
                <td>{{ t.status }}</td>
                <td></td>
                <td><a href="{% url 'core:update_tm' t.id %}" class="btn btn-warning">Update</a></td>
                <td><a href="{% url 'core:delete_tm' t.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
{% endblock content %}


