{% extends "base/base.html" %}

{% block title %}
UPDATE TEAM
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-body">
     <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Update Team</button>
        <a href="{% url 'core:list_tm' %}" class="btn btn-outline-warning">Cancel</a>
     </form>
    </div>
</div>
{% endblock content %}