{% extends "base/base.html" %}
{% block title %}National Football League{% endblock title %}
<link rel="shortcut icon" href="nfl.jpeg">
{%block content%}

<style>
    body{
        background-image: url("home/nfl.jpeg");
    }
</style>
<div class="table-responsive py-2">
<table class="table table-striped table-hover">
    <thead>
        <th>Teams that play stadium:</th>
        <th></th>
        <th>Teams that belong to the city:</th>
        <th></th>

    </thead>
    <tbody>
        {% for t in teams %}
            <tr>
                <td>{{ t.stadium }}</td>
                <td></td>
                <td>{{ t.city }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>



{%endblock content%}