{% extends "base/base.html" %}

{% block title %}
ADD CITY
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Enter City</button>
        <a href="{% url 'core:list_city' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}