{% extends "base/base.html" %}

{% block title %}
DELETE CITY
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        Are you sure you want to delete: {{ object.city_name}}?
        <button type="submit" class="btn btn-outline-danger">Delete City</button>
        <a href="{% url 'core:list_city' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}