{% extends 'base/base.html' %}

{% block title %} 
LIST CITYS
{% endblock title %}




{% block content %}

<style>

    body{
        font-size: 20px;
    }
    .sucess{
        margin: 100px;
    }
    h1{
        text-align: center;
    }
</style>

    <div class="sucess">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'core:add_city' %}" class="btn btn-success">Add City</a>
        </div>
    </div>
    <h1>List of citys in the NFL</h1>
    <br>
    <hr>
    <br>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
            <th></th>
            <th>#</th>
            <th></th>
            <th>NAME</th>
            <th></th>
            <th>STADIUM</th>
            <th colspan="2">OPTIONS</th>

        </thead>
        <tbody>
            {% for c in citys %}
                <tr>
                    <td></td>
                    <td>{{ c.id }}</td>
                    <td></td>
                    <td>{{ c.city_name }}</td>
                    <td></td>
                    <td>{{ c.stadium }}</td>
                    <td><a href="{% url 'core:update_city' c.id %}" class="btn btn-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_city' c.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
       </table>
{% endblock content %}


