{% extends "base/base.html" %}

{% block title %}
DELETE STADIUM
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        Are you sure you want to delete:{{ object.stadium_name }}?
        <button type="submit" class="btn btn-outline-danger">Delete Stadium</button>
        <a href="{% url 'core:list_st' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}
