{% extends "base/base.html" %}

{% block title %}
UPDATE STADIUM
{% endblock title %}

{% block content %}

<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
<div class="card">
    <div class="card-body">
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Update Stadium</button>
        <a href="{% url 'core:list_st' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
</div>
</div>
</div>
{% endblock content %}
